doctype html
html(lang="en")
  head
    title Voting App
    meta(name='description', content='Voting App')
    meta(name='author', content='Damian Tomaszewski')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(href='style.css', rel='stylesheet')
  body
    .container
      .header.clearfix
        a(href="/logout").btn.btn-default.btn-nav.pull-right#login
          | Log out - #{user.displayName}
        nav
          ul.nav.nav-pills.pull-right
            li(role='presentation') 
              a(href="/") Home
            li(role='presentation')
              a(href="/mypolls") My polls
            li(role='presentation').active
              a(href="/newpoll") New poll
        h3.text-muted Voting App  
          
      .container
        h2.text-center Create new poll
        form(action='/createpoll', method='post')
          .form-group
            label(for='pollname').control-label Title
            input(type='text', required='true', name='pollname').form-control#pollname
          .form-group
            label(for='polloptions') Poll options - separated by semicolon (option1;option2...)
            textarea(name='polloptions').form-control#polloptions
          .form-group
            button(type='submit').btn.btn-info Create poll
      
      
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')  
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')